@import url('https://fonts.googleapis.com/css2?family=Itim&family=Jura:wght@300;500;700&family=Nunito:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --font-nunito: 'nunito', sans-serif;
    --font-jura: 'Jura', sans-serif;
    --font-itim: 'Itim', sans-serif;
    --font-ubuntu: 'Ubuntu', sans-serif;
    --primary-color1: #001A00;
    --primary-color2: #00401E;
    --primary-color3: #1C5A1C;
    --secondary-color50: #FFF000;
    --secondary-color: #D3D3D3;
    --back-color-1: #EDEFF3;
    --tertiary-color: #FFFFFF;
    --quaternary-color: #333333;
    --quaternary-color50: #3333337f;
    --quaternary-color25: #33333340;
    --dp-bg-color: #FDFFFF;
}

.all_product_visual {
    height: 100%;
    margin-top: 0;
    padding-bottom: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 87px;
    background: var(--back-color-1);
}

.products__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--back-color-1);
}